<ng-container *ngIf="todoItems$ | async as todos; else loading">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>is Done</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todoItems$ | async; trackBy: trackById">
        <td [ngClass]="{ 'is-completed': todo.isDone }">{{ todo.title }}</td>
        <td>
          <input
            type="checkbox"
            [checked]="todo.isDone"
            (click)="onEdit(todo)"
          />
        </td>
        <td>
          <button
            [disabled]="todo.completed"
            class="btn btn-outline-danger"
            (click)="onDelete(todo.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #loading>Loading data...</ng-template>
