<app-header></app-header>
<div class="container">
  <div class="d-flex justify-content-start mb-2">
    <div>
      <input type="hidden" class="form-control" />
      <div class="form-group row">
        <div class="col-sm-12">
          <input
            type="text"
            class="form-control"
            placeholder="Title"
            [(ngModel)]="newItemName"
          />
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-lg mb-2 btn-block"
        (click)="addItem()"
      >
        Save
      </button>
    </div>
  </div>

  <div><app-todo-list></app-todo-list></div>
</div>
